# Task 4.8

1. Import Data/ Libraries
2. Find the aggregated mean of order number grouped by department id
4. Create Loyalty Flag: create new column
5. Check statistics of customers based on layalty flag
6. Create spending flag: create a mean order price column
7. Create a flag based on days since prior order: create column showing median
9. Export

In [ ]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [6]:
# Import Data
path = r'C:\Users\419182\8-10-2022 Instacart Basket Analysis'

In [7]:
# 1 Import Data
ords_prods_merge_3 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_3.pkl'))

In [8]:
# 2 Find the aggregated mean of order number grouped by department id
ords_prods_merge_3.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

3 Analyze Result: The means for the subset of data and the means of the popultation do and shoud differ slightly.  In the subset, only 100000 rows with orders are available.  When using the population data set, the mean represents all orders in a specific department.

In [9]:
# 4 Create Loyalty Flag: create new column
ords_prods_merge_3['max_order'] = ords_prods_merge_3.groupby(['user_id'])['order_number'].transform(np.max)

In [10]:
#  check
ords_prods_merge_3.head(10)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,Unnamed: 0.1,order_id,user_id,...,reordered,_merge,exists,busiest_day,busiest_days,busiest_period_of_day,price_range,price_label,max_order,loyalty_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,0,both,both,Regularly busy,Regularly busy,Most Orders,Mid-range product,Mid-range product,32,Regular customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,1,both,both,Regularly busy,Regularly busy,Average Orders,Mid-range product,Mid-range product,32,Regular customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,0,both,both,Busiest day,Busiest days,Average Orders,Mid-range product,Mid-range product,5,New customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,0,both,both,Regularly busy,Least busy days,Most Orders,Mid-range product,Mid-range product,3,New customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,1,both,both,Least busy,Least busy days,Average Orders,Mid-range product,Mid-range product,3,New customer
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,12372,1701441,777,...,0,both,both,Regularly busy,Busiest days,Average Orders,Mid-range product,Mid-range product,26,Regular customer
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,13096,1871483,825,...,0,both,both,Regularly busy,Regularly busy,Most Orders,Mid-range product,Mid-range product,9,New customer
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,14603,1290456,910,...,0,both,both,Regularly busy,Least busy days,Most Orders,Mid-range product,Mid-range product,12,Regular customer
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,17065,369558,1052,...,0,both,both,Regularly busy,Busiest days,Average Orders,Mid-range product,Mid-range product,20,Regular customer
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,17070,589712,1052,...,1,both,both,Regularly busy,Busiest days,Most Orders,Mid-range product,Mid-range product,20,Regular customer

In [11]:
# Create flag based on max order 
ords_prods_merge_3.loc[ords_prods_merge_3['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [13]:
ords_prods_merge_3.loc[(ords_prods_merge_3['max_order'] <= 40) & (ords_prods_merge_3['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [14]:
ords_prods_merge_3.loc[ords_prods_merge_3['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [15]:
ords_prods_merge_3['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [16]:
# 5 Check statistics of customers based on layalty flag
ords_prods_merge_3.groupby('loyalty_flag').agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [17]:
# 6 Create spending flag: create a mean order price column
ords_prods_merge_3['mean_order'] = ords_prods_merge_3.groupby(['user_id'])['prices'].transform(np.mean)

In [19]:
ords_prods_merge_3.shape

(32404859, 28)

In [20]:
ords_prods_merge_3.head(5)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,Unnamed: 0.1,order_id,user_id,...,_merge,exists,busiest_day,busiest_days,busiest_period_of_day,price_range,price_label,max_order,loyalty_flag,mean_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,both,both,Regularly busy,Regularly busy,Most Orders,Mid-range product,Mid-range product,32,Regular customer,6.935811
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,both,both,Regularly busy,Regularly busy,Average Orders,Mid-range product,Mid-range product,32,Regular customer,6.935811
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,both,both,Busiest day,Busiest days,Average Orders,Mid-range product,Mid-range product,5,New customer,7.930208
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,both,both,Regularly busy,Least busy days,Most Orders,Mid-range product,Mid-range product,3,New customer,4.972414
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,both,both,Least busy,Least busy days,Average Orders,Mid-range product,Mid-range product,3,New customer,4.972414

In [21]:
# 6 create flag based on price
ords_prods_merge_3.loc[ords_prods_merge_3['mean_order']<10, 'spending_flag'] = 'Low spender'

In [22]:
ords_prods_merge_3.loc[ords_prods_merge_3['mean_order']>=10, 'spending_flag'] = 'High spender'

In [24]:
# 6 check 
ords_prods_merge_3['spending_flag'].value_counts(dropna=False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [27]:
ords_prods_merge_3[['mean_order', 'spending_flag']].head(100)

    mean_order spending_flag
0     6.935811   Low spender
1     6.935811   Low spender
2     7.930208   Low spender
3     4.972414   Low spender
4     4.972414   Low spender
..         ...           ...
95    7.494286   Low spender
96    5.878641   Low spender
97    6.618085   Low spender
98    5.927149   Low spender
99    5.981250   Low spender

[100 rows x 2 columns]

In [29]:
ords_prods_merge_3.columns

Index(['Unnamed: 0_x', 'product_id', 'product_name', 'aisle_id',
       'department_id', 'prices', 'Unnamed: 0_y', 'Unnamed: 0.1', 'order_id',
       'user_id', 'evaluation_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order', 'prior_order',
       'add_to_cart_order', 'reordered', '_merge', 'exists', 'busiest_day',
       'busiest_days', 'busiest_period_of_day', 'price_range', 'price_label',
       'max_order', 'loyalty_flag', 'mean_order', 'spending_flag'],
      dtype='object')

In [30]:
# 7 Create a flag based on days since prior order: create column showing median
ords_prods_merge_3['median_days_since_prior_order'] = ords_prods_merge_3.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [31]:
# check
ords_prods_merge_3.shape

(32404859, 30)

In [32]:
# 7 create flag
ords_prods_merge_3.loc[ords_prods_merge_3['median_days_since_prior_order']>20, 'Frequency_flag'] = 'Non-frequent customer'

In [34]:
ords_prods_merge_3.loc[(ords_prods_merge_3['median_days_since_prior_order']>10) & (ords_prods_merge_3['median_days_since_prior_order']<=20), 'Frequency_flag'] = 'Regular customer'

In [35]:
ords_prods_merge_3.loc[ords_prods_merge_3['median_days_since_prior_order']<=10, 'Frequency_flag'] = 'Frequent customer'

In [36]:
ords_prods_merge_3.shape

(32404859, 31)

In [37]:
ords_prods_merge_3.head(10)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,Unnamed: 0.1,order_id,user_id,...,busiest_days,busiest_period_of_day,price_range,price_label,max_order,loyalty_flag,mean_order,spending_flag,median_days_since_prior_order,Frequency_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,Regularly busy,Most Orders,Mid-range product,Mid-range product,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,Regularly busy,Average Orders,Mid-range product,Mid-range product,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,Busiest days,Average Orders,Mid-range product,Mid-range product,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,Least busy days,Most Orders,Mid-range product,Mid-range product,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,Least busy days,Average Orders,Mid-range product,Mid-range product,3,New customer,4.972414,Low spender,9.0,Frequent customer
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,12372,1701441,777,...,Busiest days,Average Orders,Mid-range product,Mid-range product,26,Regular customer,6.935398,Low spender,11.0,Regular customer
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,13096,1871483,825,...,Regularly busy,Most Orders,Mid-range product,Mid-range product,9,New customer,5.957576,Low spender,20.0,Regular customer
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,14603,1290456,910,...,Least busy days,Most Orders,Mid-range product,Mid-range product,12,Regular customer,6.680000,Low spender,6.0,Frequent customer
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,17065,369558,1052,...,Busiest days,Average Orders,Mid-range product,Mid-range product,20,Regular customer,7.162500,Low spender,10.0,Frequent customer
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,17070,589712,1052,...,Busiest days,Most Orders,Mid-range product,Mid-range product,20,Regular customer,7.162500,Low spender,10.0,Frequent customer

In [38]:
# 9 Export
ords_prods_merge_3.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_3.pkl'))