# Task 4.6

1. Import Libraries
3. Import Orders products combined
4. Check shape
5. determine a suitable way to combine products and orders products combined and combine
6. check with merge flag
7. export

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Import Data
path = r'C:\Users\419182\8-10-2022 Instacart Basket Analysis'

In [3]:
# 3 Import orders products combined  
dforders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# 4 check shape 
dforders_products_combined.shape

(32434489, 14)

In [5]:
# Import cleaned products data
df_products_clean = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'), index_col = False)

In [6]:
# 5 determine a suitable way to combine products and orders products combined
dforders_products_combined.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,evaluation_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both

In [7]:
df_products_clean.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

Product id is a shared column between both.

In [8]:
# 5 Combine 
df_merged = df_products_clean.merge(dforders_products_combined, on = 'product_id', indicator = 'exists')

In [9]:
df_merged

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,Unnamed: 0.1,order_id,user_id,evaluation_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,prior_order,add_to_cart_order,reordered,_merge,exists
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,prior,28,6,11,3.0,False,5,0,both,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,prior,30,6,17,20.0,False,1,1,both,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,prior,2,0,21,6.0,False,20,0,both,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,prior,1,3,13,NaN,True,10,0,both,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,prior,3,4,17,9.0,False,11,1,both,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3321928,3321928,1788356,200215,prior,2,0,9,5.0,False,27,0,both,both
32404855,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3324686,3324686,3401313,200377,prior,1,4,11,NaN,True,5,0,both,both
32404856,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3332310,3332310,809510,200873,prior,5,3,8,15.0,False,12,0,both,both
32404857,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3332314,3332314,2359893,200873,prior,9,3,15,5.0,False,11,1,both,both
32404858,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3416620,3416620,2385091,205926,prior,11,1,15,6.0,False,35,0,both,both

In [10]:
# 6 check with merge flag
df_merged['exists'].value_counts()

both          32404859
left_only            0
right_only           0
Name: exists, dtype: int64

In [11]:
df_merged.shape

(32404859, 20)

In [12]:
dforders_products_combined.shape

(32434489, 14)

In [13]:
# 7 export
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))